<div style="width: 70%; margin:40px auto;">
  <h1>Wizard Request List</h1>
  <button mat-flat-button color="primary" (click)="modalNewWizardRequest()">New Sign Up Request</button>
  <div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Wizard Request ID">
        <th mat-header-cell *matHeaderCellDef> Request ID </th>
        <td mat-cell *matCellDef="let element"> {{element.wizardId}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Wizard Name">
        <th mat-header-cell *matHeaderCellDef> Wizard Name </th>
        <td mat-cell *matCellDef="let element"> {{element.wizardName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Wizard Last Name">
        <th mat-header-cell *matHeaderCellDef> Wizard Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.wizardLastName}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Wizard Muggle ID">
        <th mat-header-cell *matHeaderCellDef> Wizard Muggle ID </th>
        <td mat-cell *matCellDef="let element"> {{element.wizardMuggleId}} </td>
      </ng-container>

      <ng-container matColumnDef="Wizard Age">
        <th mat-header-cell *matHeaderCellDef> Wizard Age </th>
        <td mat-cell *matCellDef="let element"> {{element.wizardAge}} </td>
      </ng-container>

      <ng-container matColumnDef="Aspiring House">
        <th mat-header-cell *matHeaderCellDef> Aspiring House </th>
        <td mat-cell *matCellDef="let element"> {{element.houseName}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;"></th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button color="accent" (click)="modalEditWizardRequest(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="modalDeleteWizardRequest(element)">
          <mat-icon>delete</mat-icon>
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
</div>

